.set-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.set-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.set-season {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.set-season-separator {
    margin: 0 5px;
}

.set-player-image {
    width: 60px;
    height: 60px;
}