@using Climb.Models.AccountViewModels
@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Identity
@model LoginViewModel
@inject SignInManager<ApplicationUser> signInManager
@inject IHostingEnvironment hostingEnvironment

<link href="/css/login.css" rel="stylesheet" type="text/css"/>

@if(hostingEnvironment.IsDevelopment())
{
    <button onclick="createAdminAccount()">Create admin account</button>
}
<div class="container">
    <div class="panel">
        <section>
            <h4 class="sub-title">CLIMB</h4>
            <div class="panel-form">
                <div align="center">
                    <span class="input-error">@ViewData["Error"]</span>
                </div>
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <div class="panel-form-input">
                        <label asp-for="Email"></label>
                        <input asp-for="Email"/>
                    </div>
                    <span class="input-error" asp-validation-for="Email"></span>
                    <div class="panel-form-input">
                        <label asp-for="Password"></label>
                        <input asp-for="Password"/>
                    </div>
                    <span class="input-error" asp-validation-for="Password"></span>
                    <div class="panel-form-input">
                        <label asp-for="RememberMe">
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                        <input asp-for="RememberMe"/>
                    </div>
                    <div class="panel-form-input">
                        <button type="submit">Log in</button>
                    </div>
                    <div class="panel-form-input">
                        <p>
                            <a asp-action="ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register</a>
                        </p>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <script>
        function createAdminAccount() {
            $.post({
                url: '/Admin/CreateAdminAccount',
                success() {
                    window.location.href = "/Users/Home";
                },
                error(response) {
                    alert(response);
                    alert(JSON.stringify(response));
                }
            });
        }
    </script>
}
