@model Climb.Models.AccountViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register - Climb";
    Layout = null;
}

<link href="/css/login.css" rel="stylesheet" type="text/css" />
<link href="/css/site.css" rel="stylesheet" type="text/css" />

<div class="container">
    <div class="panel">
        <section>
            <h3 class="sub-title">CLIMB</h3>
            <h4 align="center">Create a new account.</h4>
            <div class="panel-form">
                <div align="center">
                    <span class="input-error">@ViewData["Error"]</span>
                </div>
                <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                    <div>
                        <div class="panel-form-input">
                            <label asp-for="Username"></label>
                            <input asp-for="Username" />
                        </div>
                        <span class="input-error" asp-validation-for="Username"></span>
                        <span class="input-error">@ViewData["UsernameTaken"]</span>
                    </div>
                    <div>
                        <div class="panel-form-input">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" />
                        </div>
                        <span class="input-error" asp-validation-for="Email"></span>
                    </div>
                    <div class="panel-form-input">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" />
                    </div>
                    <span class="input-error" asp-validation-for="Password"></span>
                    <div class="panel-form-input">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" />
                    </div>
                    <span class="input-error" asp-validation-for="ConfirmPassword"></span>
                    <div class="panel-form-input">
                        <button type="submit">Register</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>

@Html.Partial("~/Views/Shared/Footer.cshtml")