.body-banner {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.body-banner-image {
    width: 100%;
}

.body-banner-title {
    z-index: 1;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    text-align: center;
    color: white;
    font-size: 80px;
    line-height: 40px;
    font-family: "Josefin Sans", sans-serif;
    -webkit-text-stroke: 3px black;
}

.body-subnavbar {
    width: 100%;
    height: 40px;
    background-color: #333333;
}

.body-content {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.content-column {
    width: 400px;
}

.content-column h3, h4 {
    text-align: center;
}

.row-odd {
    background: #cccccc;
}

.row-even {
    background: #eeeeee;
}

.league-user {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
