.season-actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px;
}

#seasons-dropdown {
    width: 100px;
}

.season-info {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.members {
    color: whitesmoke;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
}

#reign {
    background-color: orange;
}

#members-nonking {
    background-color: orangered;
}

#members-new {
    background-color: #333333;
}