.season-title {
    z-index: 1;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    text-align: center;
    color: white;
    font-size: 80px;
    line-height: 0px;
    font-family: "Josefin Sans", sans-serif;
    -webkit-text-stroke: 3px black;
}

.season-subtitle {
    z-index: 1;
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    text-align: center;
    color: white;
    font-size: 40px;
    line-height: 100px;
    font-family: "Josefin Sans", sans-serif;
    -webkit-text-stroke: 2px black;
}

.standing-container {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.standing-rank {
    width: 70px;
    font-size: 50px;
    text-align: center;
}

.standing-profilepic {
    width: 80px;
    height: 80px;
    padding: 10px;
}

.standing-info {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    flex-grow: 100;
}

.standing-info a {
    font-size: 24px;
}

.standing-info-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}