@model Climb.ViewModels.LeagueHomeViewModel

@{
    ViewData["Title"] = "Home";
}

<div align="center">
	<h2>Home</h2>
	<br/>
	<h3>@Model.league.Name</h3>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h4>Seasons</h4>
		</div>
		<div class="col-xs-9">
			<h4 align="center">Power Rankings</h4>
			@{
				var users = Model.league.Members.ToList();
				users.Sort();
				foreach(var leagueUser in users)
				{
					<div class="panel">
						<span>@leagueUser.Rank</span>
						<img src="@leagueUser.GetProfilePicUrl(Model.configuration)"/>
						<span>@leagueUser.User.Username</span>
					</div>
				}
			}
		</div>
	</div>
</div>
