@using Climb.ViewModels
@model CompeteLeaguesViewModel

@{
	ViewBag.Title = "Leagues";
	Layout = "_Layout";
}

<script type="text/javascript" src="@Url.Content("/js/leagues.js")"></script>

<div align="center">
	<h2>Leagues</h2>
	<hr />
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-3" align="center">
			<div id="membershipButtons" class="btn-group-vertical">
				<button id="membershipButtons.member" class="btn btn-primary" onclick="toggleMembership('member')">Member</button>
				<button id="membershipButtons.admin" class="btn btn-primary" onclick="toggleMembership('admin')">Admin</button>
				<button id="membershipButtons.nonMember" class="btn btn-primary" onclick="toggleMembership('nonMember')">Non-member</button>
			</div>
		</div>
		<div id="memberships" class="col-xs-9" align="center">
			<div id="member">
				<h4>Member</h4>
				@{
					foreach (var league in Model.memberOf)
					{
						var viewModel = new LeagueCollapsedViewModel(league, League.Membership.Member, Model.user.ID);
						@Html.Partial("/Views/Leagues/Partials/Collapsed.cshtml", viewModel)
					}
				}
			</div>
			<div id="admin">
				<h4>Admin</h4>
				@{
					foreach (var league in Model.adminOf)
					{
						var viewModel = new LeagueCollapsedViewModel(league, League.Membership.Admin, Model.user.ID);
						@Html.Partial("/Views/Leagues/Partials/Collapsed.cshtml", viewModel)
					}
				}
			</div>
			<div id="nonMember">
				<h4>Non-Member</h4>
				@{
					foreach (var league in Model.nonmemberOf)
					{
						var viewModel = new LeagueCollapsedViewModel(league, League.Membership.NonMember, Model.user.ID);
						@Html.Partial("/Views/Leagues/Partials/Collapsed.cshtml", viewModel)
					}
				}
			</div>
		</div>
	</div>
</div>

<script>
	window.onload = toggleMembership("member");
</script>