.powerrank-container {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.powerrank-rank {
    width: 70px;
    font-size: 50px;
    text-align: center;
}

.powerrank-profilepic {
    width: 80px;
    height: 80px;
    padding: 10px;
}

.powerrank-info {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    flex-grow: 100;
}

.powerrank-info-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.powerrank-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.powerrank-info-characters {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.powerrank-info-characters img {
    width: 30px;
    height: 30px;
}

.league-name {
    font-size: 12px;
}

.user-username {
    font-size: 20px;
}

.fight-button {
    width: 80px;
    margin-left: auto;
}