@using Climb.ViewModels
@model AvailableSetsViewData

@{
    ViewData["Title"] = "Available Sets";
}

<h2>Available Sets</h2>

<h4>@Model.user.Username</h4>
<hr />
@foreach(var set in Model.sets)
{
	@Html.Partial("../Sets/Collapsed", set)
}

<div>
    <a asp-action="Index">Back to List</a>
</div>