@using Climb.ViewModels
@model AvailableSetsViewModel

@{
    ViewData["Title"] = "Available Sets";
}

<h2>Available Sets</h2>

<h4>@Model.user.Username</h4>
<hr />
@foreach(var set in Model.sets)
{
	var leagueUser = set.GetLeagueUser(Model.user);
	@Html.Partial("../Sets/Partials/Collapsed", new SetCollapsedViewModel(set, leagueUser))
}

<div>
    <a asp-action="Index">Back to List</a>
</div>