<footer class="content-footer">
    <p>&copy; 2017 - Climb <a href="mailto:steve.yeager@littlebytegames.com?subject=Climb%20Feedback%20(Don't%20Change)" target="_blank">Got Feedback? Bugs? Ideas? Email me!</a></p>
</footer>