@model League

<div align="center">
    <div class="dropdown">
        <a asp-action="Home" asp-route-id="@Model.ID">Home</a>
    </div>
    <div class="dropdown">
        <a asp-action="PowerRanks" asp-route-id="@Model.ID">Activity</a>
    </div>
</div>