<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>grid Tests</title>
    <link rel="stylesheet" type="text/css" href="GridTests.css" />
</head>
<body>
    <div class="menu-bar">
        <h1 class="logo">Climb</h1>
        <div class="menu">
            <div class="dropdown">
                <a href="#">Games</a>
                <ul class="dropdown-items">
                    <li><a href="#">Game 1</a></li>
                    <li><a href="#">Long Game Name 2</a></li>
                    <li><a href="#">All Games</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <a href="#">Leagues</a>
                <ul class="dropdown-items">
                    <li><a href="#">Long League Name 1</a></li>
                    <li><a href="#">League 2</a></li>
                    <li><a href="#">All Leagues</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <a href="#">User Account</a>
                <ul class="dropdown-items">
                    <li><a href="#">sam.erin.williams@gmail.com</a></li>
                    <li><a href="#">Sign Out</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="grid">
        <div class="header">
            <h2>Header</h2>
        </div>
        <div class="left">
            <h2>Left Content</h2>
        </div>
        <div class="center">
            <h2>Center Content</h2>
        </div>
        <div class="right">
            <h2>Right Content</h2>
            <br />
            <div class="sub-grid">
                <h2 class="top-left">Content Top Left</h2>
                <h2 class="top-right">Content Top Right</h2>
                <h2 class="center-left">Content Center Left</h2>
                <h2 class="center-right">Content Center Right</h2>
                <h2 class="bottom-left">Content Bottom Left</h2>
                <h2 class="bottom-right">Content Bottom Right</h2>
            </div>
        </div>
        <div class="footer">
            <h2>Footer</h2>
        </div>
    </div>
</body>
</html>