<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="Menu.css" />
</head>
<body>
    <!-- Menu Bar -->
    <div class="menu-bar">
        <h1 class="logo">Climb</h1>
        <div class="menu">
            <div class="dropdown">
                <a href="#">Games</a>
                    <ul class="dropdown-items">
                        <li><a href="#">Game 1</a></li>
                        <li><a href="#">Long Game Name 2</a></li>
                        <li><a href="#">All Games</a></li>
                    </ul>
            </div>
            <div class="dropdown">
                <a href="#">Leagues</a>
                    <ul class="dropdown-items">
                        <li><a href="#">Long League Name 1</a></li>
                        <li><a href="#">League 2</a></li>
                        <li><a href="#">All Leagues</a></li>
                    </ul>
            </div>
            <div class="dropdown">
                <a href="#">User Account</a>
                    <ul class="dropdown-items">
                        <li><a href="#">sam.erin.williams@gmail.com</a></li>
                        <li><a href="#">Sign Out</a></li>
                    </ul>
            </div>
        </div>
    </div>

    <!-- Page Body -->
    <div class="content">

        <!-- Content Header -->
        <div class="content-header">
            <h2>Taking Super Smash Bros to a Fantasy eSports Level</h2>
        </div>
        <div class="grid-banner">
            <img src="https://i.imgur.com/wwO9h1Q.jpg" alt="56 characters of the Super Smash roster with the Player 1 hand hovering over Toon Link"/>
        </div>

        <!-- Featured Player Column -->
        <div class="content-left">
            <div class="profile-pic">
                <img class="portrait" src="https://scontent.fsea1-1.fna.fbcdn.net/v/t1.0-9/21230794_10210675195262777_3407865363512490759_n.jpg?oh=77fcb02786d842ed64002a3a3afeb679&oe=5AA07F3D"
                     alt="A portrait of the featured player, Steve Yeager, in a park" />
            </div>
            <h3>Featured Player: Boyblue</h3>
            <h4 class="deemphasize">November 2017</h4>
            <p class="profile-text">
                <span class="profile-head"> Real Name:</span> Steve <br /> 
                <span class="profile-head"> Main(s):</span> Captain Falcon, Mario <br />
                <span class="profile-head"> Favorite Character:</span> Captain Falcon <br /> 
                <span class="profile-head">Favorite Food:</span> Cane's Chicken <br /> 
                <span class="profile-head">Contact:</span> boyblue_falcon@gmail.com
            </p>
            <br />
            <div class="feature-content">
                <p>
                    Playing Smash since childhood, Boyblue entered the amateur competitive scene in Las
                    Vegas Nevada in 2013. He remembers playing tournaments at Gameworks near the strip
                    as well as at a local arcade where he made many lasting friends. His mains are Captain
                    Falcon and Mario, but he knows how to play pretty much every other character better
                    than most people, much to the chagrin of his friends.
                </p>
                <p>
                    What's Boyblue's advice for improving your play? We interviewed him yesterday and this is
                    what he had to say:

                    <span class="quote">
                        Play every day you can. The more you play and the more you study the greats on the many
                        available online services like YouTube and Twitch, the more you'll learn and the more you'll
                        train your hands. Practice as often as you can and listen to your mentors and you'll be sure
                        to improve!
                    </span>

                    He's spent literally thousands of hours playing Super Smash Bros Brawl and Wii U in college and after in the Vegas and
                    Seattle competitive scenes. He even started playing at work at an extracurricular Fight Club
                    he created at his company.

                    <span class="quote">
                        We actually sat down at one point near the end of our freshman year of college
                        and calculated how many hours we'd spent on Smash. Let's just say if you
                        translated the results to a minimum wage job we could all have afforded
                        to feed a small country of hungry children or buy some pretty fancy cars.
                    </span>

                    And of course we had to ask the age-old question: Who's your favorite character?

                    <span class="quote">
                        Captain Falcon of course! He might not be the highest tier in tournament play
                        but god damn is he a man's man. Falcon all the way!
                    </span>

                    We'd like to thank Boyblue for coming into the studio for our interview today and we
                    wish him luck at the Northwest Majors next weekend.
                </p>
                <a class="archive-link" href="#">
                    See past Featured Players
                </a>
            </div>
        </div>

        <!-- Events in Your Area Column -->
        <div class="content-center">
            <h3>Events in Your Area</h3>
            <h4 class="deemphasize">Updated November 2017</h4>
            <div class="event-content">
                <div class="event">
                    <div class="event-pic">
                        <img src="https://pbs.twimg.com/profile_images/830956476587839488/FaeUBCCH.jpg"
                             alt="Northwest Majors Tournament logo" />
                    </div>
                    <h3>Northwest Majors X</h3>
                    <p>
                        REGISTRATION DETAILS Registration has multiple levels and is required to participate in any gaming
                        event. Registration is broken into four parts: Early, Standard, Late and Door Early Reg is $35 and
                        runs from 7/2/17 to 7/21/17 Standard Reg is $45 and runs from 7/22/17 to 8/18/17 Late Reg is $60
                        and runs from 8/18/17 to 9/15/17
                    </p>
                    <button class="link first">
                        <a class="link" href="#">
                            More Info
                        </a>
                    </button>
                    <button class="link second">
                        <a class="link" href="#">
                            Go to Registration
                        </a>
                    </button>
                </div>
                <div class="event">
                    <div class="event-pic">
                        <img class="landscape"src="http://www.meleeitonme.com/wp-content/uploads/EvoCS.jpg"
                             alt="Northwest Majors Tournament logo" />
                    </div>
                    <h3>Evo 2018</h3>
                    <p>
                        REGISTRATION DETAILS Registration has multiple levels and is required to participate in any gaming
                        event. Registration is broken into four parts: Early, Standard, Late and Door Early Reg is $35 and
                        runs from 7/2/17 to 7/21/17 Standard Reg is $45 and runs from 7/22/17 to 8/18/17 Late Reg is $60
                        and runs from 8/18/17 to 9/15/17
                    </p>
                    <button class="link first">
                        <a class="link" href="#">
                            More Info
                        </a>
                    </button>
                    <button class="link second">
                        <a class="link" href="#">
                            Go to Registration
                        </a>
                    </button>
                </div>
                <div class="event">
                    <div class="event-pic">
                        <img class="landscape"src="http://apex-series.com/img/news/apex_new_logo.jpg"
                             alt="Northwest Majors Tournament logo" />
                    </div>
                    <h3>Apex XV</h3>
                    <p>
                        REGISTRATION DETAILS Registration has multiple levels and is required to participate in any gaming
                        event. Registration is broken into four parts: Early, Standard, Late and Door Early Reg is $35 and
                        runs from 7/2/17 to 7/21/17 Standard Reg is $45 and runs from 7/22/17 to 8/18/17 Late Reg is $60
                        and runs from 8/18/17 to 9/15/17
                    </p>
                    <button class="link first">
                        <a class="link" href="#">
                            More Info
                        </a>
                    </button>
                    <button class="link second">
                        <a class="link" href="#">
                            Go to Registration
                        </a>
                    </button>
                </div>
            </div>
             <br />
             <a class="archive-link" href="#">
                 See more Events
             </a>
        </div>

        <!-- Featured League Column -->
        <div class="content-right">
            <div class="profile-pic">
                <img class="landscape" src="https://i.imgur.com/VIkGuEV.jpg"
                     alt="Seattle's skyline at dusk" />
            </div>
            <h3> Featured League: Seattle Smash</h3>
            <h4 class="deemphasize">November 2017</h4>
            <p class="profile-text">
                <span class="profile-head"> Members:</span> 3,541 <br />
                <span class="profile-head"> Matches/Week:</span> 1,097 <br />
                <span class="profile-head"> Most Popular Character:</span> Diddy Kong <br />
                <span class="profile-head"> Next Tournament:</span> 11/21/2017 <br />
                <span class="profile-head"> Contact Admin:</span> info@seattlesmash.com
            </p>
            <br />
            <div class="feature-content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
                <a class="archive-link" href="#">
                    See past Featured Leagues
                </a>
            </div>
        </div>

        <!-- Footer -->
        <div class="content-footer deemphasize">
            <p>(c) Sam and Steve Yeager 2017</p>
            <br />
        </div>
    </div>
</body>
</html>