@using Climb.ViewModels
@model CompeteHomeViewModel

@{
	ViewBag.Title = "Home";
	Layout = "_Layout";
}

<div align="center">
	<h2>Home</h2>
	<h4>Hello @Model.user.Username</h4>
</div>
<div class="row">
	<div class="col-xs-4">
		<h4>Activity</h4>
		@{
			var snapshots = Model.leagueInfos.SelectMany(li => li.leagueUser.RankSnapshots).ToList();
			foreach(var snapshot in snapshots)
			{
				@Html.Partial("../RankSnapshots/Info", snapshot);
			}
		}
	</div>
	<div class="col-xs-8">
		@foreach(var leagueInfo in Model.leagueInfos)
		{
			<div class="panel panel-default">
				@Html.Partial("../LeagueUsers/Info", leagueInfo.leagueUser)

				@{
					if(leagueInfo.nextSet == null)
					{
						<div align="center">
							<span>No available sets</span>
						</div>
					}
					else
					{
						var viewModel = new SetCollapsedViewModel(leagueInfo.nextSet, leagueInfo.leagueUser);
						@Html.Partial("../Sets/Collapsed", viewModel)
					}
				}
			</div>
	
			if (Model.leagueInfos.Last() != leagueInfo)
			{
				<hr />
			}
		}
	</div>
</div>