@model Climb.ViewModels.CompeteIndexViewModel

@{
	ViewBag.Title = "Compete";
	Layout = "_Layout";
}

<div align="center">
	<h2>Compete</h2>
	<h3>Hello @Model.user.Username</h3>
</div>

<div align="center">
	@if(Model.availableSets.Count == 0)
	{
		<span>All caught up!</span>
	}
	else
	{
		foreach(var set in Model.availableSets)
		{
			@Html.Partial("../Sets/Collapsed", set)
		}
	}
</div>
