@using Climb.ViewModels
@model CompeteLeaguesViewModel

@{
	ViewBag.Title = "Leagues";
	Layout = "_Layout";
}

<div align="center">
	<h2>Leagues</h2>
	<hr/>
</div>

<div class="container">
	<div class="row">
		<div class="col-xs-3" align="center">
			<a class="btn btn-lg btn-danger" type="button" asp-controller="Leagues" asp-action="Create">Create</a>
			<br />
			<br />
			<br />
			<div class="btn-group-vertical">
				<a class="btn btn-primary" role="button">Member</a>
				<a class="btn btn-primary" role="button">Admin</a>
				<a class="btn btn-primary" role="button">Non-member</a>
			</div>
		</div>
		<div class="col-xs-9" align="center">
			<div>
				<h4>Member</h4>
				@{
					foreach(var league in Model.memberOf)
					{
						var viewModel = new LeagueCollapsedViewModel(league, League.Membership.Member);
						@Html.Partial("../Leagues/Collapsed", viewModel)
					}
				}
			</div>
			<div>
				<h4>Admin</h4>
				@{
					foreach(var league in Model.adminOf)
					{
						var viewModel = new LeagueCollapsedViewModel(league, League.Membership.Admin);
						@Html.Partial("../Leagues/Collapsed", viewModel)
					}
				}
			</div>
			<div>
				<h4>Non-Member</h4>
				@{
					foreach(var league in Model.nonmemberOf)
					{
						var viewModel = new LeagueCollapsedViewModel(league, League.Membership.NonMember);
						@Html.Partial("../Leagues/Collapsed", viewModel)
					}
				}
			</div>
		</div>
	</div>
</div>