@model Climb.ViewModels.GenericViewModel<IEnumerable<Game>>

@{
	ViewData["Title"] = "Games";
	Layout = "_Layout";
}

<h2>Games</h2>

<a asp-action="Create">New Game</a>
<table>
	<thead>
	<tr>
		<th>
			@nameof(Game.Name)
		</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	@foreach(var item in Model.data)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				<a asp-action="Home" asp-route-url="@item.Url">Home</a>
			</td>
		</tr>
	}
	</tbody>
</table>
